$padding: 30px;
$color1: #5c8c3e;
$color2:#637064;
$colorHover: #3c6948;
$fuente1: 'Roboto', 25px;


.header__encabezado {
	height: 100px;
	text-decoration: none;
	list-style: none;
	background-image: linear-gradient($color1, white);
	
}


#logo {
	font-family: 'Nothing You Could Do', cursive;
	color: black;
	text-decoration: none;
	list-style: none;
	font-size: 75px;
}

.header__nav {
	background-color: white;
	width: 100%;
	border-top: 3px solid $color1;
	border-bottom: 3px solid $color1;
	padding: $padding/3;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-evenly;
}

nav ul li {
	display: inline-block;
	margin-top: 15px;
}

.barra {
	background-color: white;
	padding: $padding/2;
	padding-top: $padding/3;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.barra:hover {
	background-color: $colorHover;
	font-size: 25px;
	font-style: italic;
	color: white;
}

.seleccionado {
	background-color: #55705b;
	color: white;
	padding: $padding/2;
}

.itembarra {
	text-decoration: none;
	font-family: roboto;
	background-color: white;
	color: black;
	font-weight: bold;
	text-align: center;
}

.cuerpo {
	margin-top: 30px;
	padding-left: $padding*2
}



.abajo {
	background-color: $color1;
	border-top: 10px solid $color1;
}
	
.pie {
	color: black;
	padding: $padding/6;
	.pie__img {
		width: 40px;
		height: 40px;
	}
}